In [6]:
# Concatination Method with **+**:

first_name = "wajeeh"
last_name = "uddin khan"
ins_name = "Saylani Mass IT Training Program"
course_name = "A.I Batch-4"
roll_num = 117746
print("Institute Name: " + ins_name, "\nStudent Full Name: " + first_name +' '+ last_name, "\nCourse Name: " + course_name, "\nRoll number: "+str(roll_num))

Institute Name: Saylani Mass IT Training Program
Student Full Name: wajeeh uddin khan
Course Name: A.I Batch-4
Roll number: 117746

In [7]:
# Concatination Method with **.format method**:

first_name = "Dhanish"
last_name = "Gopal"
ins_name = "Saylani Mass IT Training Program"
course_name = "A.I Batch-4"
roll_num = 118222

card = '''Institude Name: {}
Student Full Name: {} {}
course Name: {}
Roll Number: {}'''.format(ins_name,first_name,last_name,course_name,roll_num)

print(card)

Institude Name: Saylani Mass IT Training Program
Student Full Name: Dhanish Gopal
course Name: A.I Batch-4
Roll Number: 118222

In [8]:
# 1-capitalize Method
# The method returns a new string with the first character capitalized.

name = "pakistan zindabad"
print(name.capitalize())

Pakistan zindabad

In [9]:
# 2-CaseFold Method
# The method returns a new string with all the alphabetic characters converted to lowercase.

name = "PAKISTAN ZINDABAD"
print(name.casefold())

pakistan zindabad

In [10]:
# 3-Center Method
# method returns a new string with the original string centered within the specified width

name = "Pakistan zindabad"
print(name.center(100))

                                         Pakistan zindabad

In [11]:
# 4-Count Method
# returns the number of occurrences of the specified substring or character.

name = "Pakistan zindabad"
print(name.count('a'))

4

In [13]:
# 5-encode method
# returns an encoded version of the original string.

name = "My name is Dale Stayn"
print(name.encode())

b'My name is Dale Stayn'

In [14]:
# 5-endswith method
# returns a boolean value indicating whether the string ends with a specified suffix or not.

name = "Pakistan zindabad"
print(name.endswith('n'))
print(name.endswith('d'))

False
True

In [15]:
# 10-isalnum Method
# used to check whether a string contains only alphanumeric characters or not.

name1 = "Pakistan123"
name2 = "Pakistan!!123"
print(name1.isalnum())
print(name2.isalnum())

True
False

In [16]:
# 6-expandtabs
# returns a copy of the string with all tab characters (\t) replaced by one or more spaces.

name = "Pakistan\tzindabad"
print(name.expandtabs(6))

Pakistan    zindabad

In [17]:
# 7-Find method
# returns the lowest index in the string where a specified substring is found.

name = "Pakistan zindabad"
print(name.find("t"))      # Returns value of t at specified index
print(name.find("zin"))    # Returns value of "z" only at specified index
print(name.find("x"))      # Returns No value with "-1" as "x" is not found in above string
5

5
9
-1

5

In [19]:
# 10-isalnum Method
# used to check whether a string contains only alphanumeric characters or not.

name1 = "Pakistan123"
name2 = "Pakistan!!123"
print(name1.isalnum())
print(name2.isalnum())       # It returns false due to non-alphanumeric charachter "!"

True
False

In [20]:
# 12-isascii Method
# used to check whether a string contains only ASCII characters or not.

name1 = "Pakistan"
name2 = "¡Hello¡"
print(name1.isascii())
print(name2.isascii())

True
False

In [21]:
# 13-isdecimal Method
# used to check whether a string contains only decimal characters or not

num1 = "1234"
num2 = "12.345"
print(num1.isdecimal())
print(num2.isdecimal())

True
False

In [22]:
# 14-isdigit Method
# used to check whether a string contains only digits or not.

num1 = "1234"
num2 = "12.345"
print(num1.isdigit())
print(num2.isdigit())

True
False

In [23]:
# 15-isidentifier
# used to check whether a string is a valid identifier or not.
# An identifier is a sequence of characters in Python that represents a name, such as variable names, function names, class names, etc. 
# An identifier must follow certain rules, such as starting with a letter or underscore, and only containing letters, numbers, and underscores.

name1 = "my_var"
name2 = "1myvar"
print(name1.isidentifier())
print(name2.isidentifier())

True
False

In [24]:
# 16-islower Method
# used to check whether all the characters in a string are lowercase or not.

name1 = "DhaNisH"
name2 = "dhanish"
print(name1.islower())
print(name2.islower())

False
True

In [25]:
def my_function(country = "Pakistan"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Pakistan
I am from Brazil

In [27]:
# 17-isnumeric
# used to check whether all the characters in a string are numeric characters or not.

num1 = "1234"
num2 = "12.345"

print(num1.isnumeric())
print(num2.isnumeric())

True
False

In [28]:
# Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.
# In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [29]:
# 18-isprintable Method
# used to check whether all the characters in a string are printable or not.

n = "Hellow World"
m = "Hellow \n World"
print(n.isprintable())
print(m.isprintable())

True
False

In [30]:
# 19-isspace Method
# used to check whether all the characters in a string are whitespace characters or not.

n = "Hellow World"
m = "\t\n"
p = ""

print(n.isspace())
print(m.isspace())
print(p.isspace())

False
True
False

In [31]:
# 20-istitle Method
# used to check whether a string is a titlecased string or not.
# A titlecased string is a string where the first letter of each word is capitalized and all other letters are lowercase.

n = "The Pakistan"
m = "the pakistan"

print(n.istitle())
print(m.istitle())

True
False

In [32]:
# 21-isupper Method
# used to check whether all the alphabetic characters in a string are uppercase or not.

n = "hellow world"
m = "HELLOW WORLD"

print(n.isupper())
print(m.isupper())

False
True

In [33]:
# 22-join Method
# used to join a sequence of strings together into a single string, using a specified separator string.

separator = ","
name = "Pakistan"

print(separator.join(name))

P,a,k,i,s,t,a,n

In [34]:
x = lambda a : a + 10
print(x(5))

15

In [35]:
# 23-ljust Method
# used to left justify a string within a specified width by padding it with a specified character on the right.

name = "Hello"
print(name.ljust(10,'!'))

Hello!!!!!

In [37]:
# 24-lower Method
# used to convert all the alphabetic characters in a string to lowercase.

name = "wajeeh uddin khan"
print(name.lower())

wajeeh uddin khan

In [39]:
 # 25-lstrip Method
# used to remove leading whitespace characters from a string.

name = "    wajeeh    !!"
print(name.lstrip())

wajeeh    !!

In [40]:
# 26-maketrans Method
# used to create a translation table that can be used by the translate() method to replace specified characters in a string.

name = "Hello World"
n = name.maketrans('el','ip','o')
m = name.translate(n)
print(m)

Hipp Wrpd

In [41]:
# 27-partition Method
# used to split a string into three parts based on a specified separator.

name = "Welcome, Mr.Dhanish"
print(name.partition(','))

('Welcome', ',', ' Mr.Dhanish')

In [42]:
# 28-removeprefix Method
# used to remove a specified prefix from a string(If start with specified string).

name = "Hello World"
print(name.removeprefix('Hello'))

 World

In [44]:
 #29-removesuffix Method
# used to remove a specified suffix from a string. 
# If the string ends with the specified suffix, the suffix is removed and the modified string is returned.

name = "Hello World"
print(name.removesuffix("World"))

Hello

In [45]:
# 30-replace Method
# used to replace all occurrences of a specified substring in a string with another substring.

name = "Hello World"
print(name.replace("World","Universe"))

Hello Universe

In [46]:
# 31-rfind Method
# returns the highest index in the string where a specified substring is found. 
# The method searches the string from right to left, starting from the specified position, and returns -1 if the substring is not found.

name = "Hello World"
print(name.rfind("o"))
print(name.rfind("e"))
print(name.rfind("z"))

7
1
-1

In [48]:
# 32-find Method
name = "Hello World"
print(name.find("o"))
print(name.find("e"))
print(name.find("z"))

4
1
-1

In [49]:
# 33-rjust Method
# returns a right-justified version of a given string by padding it with a specified character (or space) on the left side. 
# This method returns a new string and does not modify the original string.

name = "Hello"
print(name.rjust(10))
print(name.rjust(10,'-'))

     Hello
-----Hello

In [50]:
# 34-rpartition Method
# separates the given string into three parts using a separator (also called a delimiter) specified as an argument. 
# The separation occurs from the right side of the string.

n = "apple,banana,mango"
print(n.rpartition(","))

('apple,banana', ',', 'mango')

In [51]:
# 35-rsplit Method
# splits a given string into a list of substrings, starting from the right side of the string, using a specified separator (also called a delimiter). 
# If no separator is specified, the method splits the string at whitespace characters (spaces, tabs, and newlines)

name = "Hello World"
print(name.rsplit())

['Hello', 'World']

In [52]:
# 36-rstrip Method
# returns a new string with trailing whitespace characters (spaces, tabs, and newlines) removed from the right side of the original string.

name = "Hello World!!"
print(name.rstrip('!'))

Hello World

In [53]:
# 37-split Method
# splits a given string into a list of substrings, using a specified separator (also called a delimiter). If no separator is specified, the method splits the string at whitespace characters (spaces, tabs, and newlines).

name = "   Hello World  "
print(name.split())

['Hello', 'World']

In [54]:
# 38-splitlines Method
# splits a given string into a list of substrings, using the newline character(s) (\n, \r, and \r\n) as the delimiter.

name = "Hello\nWorld\nGoodnight"
print(name.splitlines())

['Hello', 'World', 'Goodnight']

In [55]:
# 39-startswith Method
# returns a boolean value indicating whether a given string starts with a specified prefix.

name = "Dhanish Gopal"
print(name.startswith('Dhanish'))
print(name.startswith('Gopal'))

True
False

In [56]:
# 40-strip Method
# returns a new string with any leading or trailing whitespace removed.

name = "   \t\nDale steyn!  "
print(name.strip())

Dale steyn!

In [57]:
# 41-swapcase Method
# returns a new string where all the uppercase characters are converted to lowercase and vice versa

name = "David Warner"
print(name.swapcase())

n = "HELLO WORLD"
print(n.swapcase())

dAVID wARNER
hello world

In [58]:
# 42-title Method
# returns a new string with the first character of each word in uppercase and the rest of the characters in lowercase.

name = "Dinesg karthik"
print(name.title())

Dinesg Karthik

In [59]:
# 43-translate Method
# returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

name = "Hello World"
n = name.maketrans('el','ip','o')
m = name.translate(n)
print(m)

Hipp Wrpd

In [60]:
# 44-upper Method
# returns a new string with all the characters converted to uppercase.

name = "Daniel Vettori"
print(name.upper())

DANIEL VETTORI